
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



  body {  
      background:url(images/resim.webp);
      background-size: cover;   
      color: #453502e3;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      
    }
    
    header {
      background-color:rgba(237, 230, 230, 0.486);
      width: 100%;    
      display: flex;
      justify-content: space-between;
      align-items: center;  
      
    }

    .myName {
      font-family: 'Comforter Brush', cursive;
      font-size: 4.85rem; 
      margin-top: 4.06rem;
      color: rgba(69,53,2,0.89); 
      text-decoration: none;
      transition: color 0.2s ease;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
    }
    
    
    .myName:hover {
      color:#fccac9c8;    
    }
    
    .navbar {  
      width: 100%;  
      list-style: none;
      margin-top: 2.5rem;
      padding: 0;
      background-color: #424242;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }


    .navbar a {
      color: #ebebeb;
      font-size: 0.938rem; 
      text-decoration: none;
      box-sizing: border-box;
      padding: 0.813rem; 
      border-radius: 0.313rem;
      transition: background-color 0.5s ease;
    }
    
    
    .navbar li:hover a {
      background-color: rgba(98, 83, 73, 0.878);
    }
    .menu-bar i{display: none;}

    /*başlık-----------------ve-------------------navbar*/

    main {    
      background: linear-gradient(to right, #ffffffac 100%, transparent 48%);
      padding: 50px;
      display: flex;
      
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 70%;
      
    }

    .giris{
      background: linear-gradient(to right, #7d7d7d17 50%, transparent 47%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      color: #5f4d12;
    }

  .giris h1{
      font-size:35px;
    }



    .welcome {
      display: flex;
      margin-top: 1.875rem; 
      background: linear-gradient(to right, #4d4c4c21 100%, transparent 53%), url(images/portimg.webp);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 15rem; 
      position: relative;
      flex-direction: column;
    }
    

    .social-icons {
      position: absolute;
      bottom: 0.625rem; 
      left: 50%;
      height: 2rem; 
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(240, 236, 236, 0.484);
      border-radius: 1%;
      width: 100%;
      gap: 6.25rem; 
    }
    
  .social-icons a i{
    display: flex;
  }

  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%;
    background-color: #ffffffdc;
    font-size: 1.25rem; 
    color: #d04200;
  }
  

  .social-icon:hover {
    background-color: rgb(248, 151, 248);
    color: black;
    animation: beat-fade 1s ease-in-out infinite;
  }  

  @keyframes beat-fade {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  section {
    margin: 1.875rem;
    text-align: center;
  }
  
  .work {
    display: flex;
    padding: 5rem 0;
    color: #5f4d12;
    flex-direction: column;
  }
  
  .work h2, .work h3 {
    background: linear-gradient(to right, #7d7d7d17 50%, transparent 47%);
    font-size: 1.125rem; 
    padding: 1.25rem;
  }
  
  .projects h3 {
    color: #5f4d12;
    font-size: 0.938rem; 
    padding: 0.313rem; 
  }
  
    
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3.75rem;
  }
  
  .project p {
    font-size: 0.625rem; 
  }
  
  .project {
    width: 18%; 
    display: flex;
    text-align: center; 
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0.188rem 0.625rem rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    overflow: hidden;    
  }
  

    .project:hover {
    transform: translateY(-5px);
    }
    
    .project img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    }     

  

    #contact h2{
      background: linear-gradient(to right, #7d7d7d17 50%, transparent 47%);
      font-size:18px;
      padding: 20px;
      color: #5f4d12;
    }
    
    form{
        display: flex;
        align-items:flex-start;
        color: #424242;
    }
    input{
      height: 25px; 
    }

    button[type="submit"] {
        background-color:#544a2fae; 
        border: none;
        color: white; 
        padding: 12px 24px; 
        text-align: center; 
        text-decoration: none;
        display: inline-block; 
        font-size: 10px; 
        margin: 4px 5px; 
        cursor: pointer; 
        border-radius: 4px;
      }
      

    .footer {    
      color: #c5c5c5;    
      text-align: center; 
  
    }

    #foot-p{
      padding-bottom: 10px;
      font-size:10px;
      
    }
    
    #hakkimda p{
      font-family: 'Montserrat', sans-serif;    
      font-size: 10px;
      color: #424242;
    }

    @media only screen and (max-width:800px){
      .projects{ flex-wrap: wrap;}
      .project{width: 50%;}
      .project img{width: 60%;}
      #text-box{width:100%;   
    margin-top: 15px;
}    }


    @media only screen and (max-width:500px){

      .menu-bar .navbar{display: none;}
      .menu-bar i{display: flex;
      font-size: 40px;
      justify-content: flex-end;
      background-color: #d0420011;
      cursor: pointer;
    }
      .navbar{justify-content: space-between;}
      
      .project{width: 100%;}
      
      
    }